.page-background{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  font-family: 'Poppins', sans-serif;
}

.image-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.graduation-image{
  width: 50vw;
  height: 100vh;
  filter: grayscale(100%);
}

.image-text-overlay{
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  max-width: 600px;
  color: #fafafa;
  background-color: rgba(154, 167, 171, 0.411);
  padding: 15px;
}

.welcome-text{
  font-size: 54px;
}

.login-section{
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  align-content: center;
  /* align-self: center; */
  /* background-color: red; */
  /* width: 50vw; */
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  width: 50%;
  padding-bottom: 50px;
}

.login-title{
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 100;
}

.login-instruction{
  font-size: 12px;
  color: #888686;
  margin-bottom: 20px;
}

.login-field{
 font-family: 'Poppins';
 font-size: 12px;
 display: flex;
 flex-direction: row;
 max-width: 400px;
 padding: 10px;
 margin-bottom: 10px;
 background: #efefef;
 border: none;
 border-radius: 3px;
}

.signIn-button{
  font-family: 'Poppins';
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  max-width: 400px;
  border: none;
  background-color: #e5b300;
  transition: background-color 0.3s;
  color: #fafafa;
}

.signIn-button:hover{
  background-color: #f4cd42;;;
}

@media screen and (max-width: 780px) {
  .page-background{
    flex-direction: column;
  }

  .image-section{
    flex-direction: row;
    margin-bottom: 50px;
  }

  .graduation-image{
    width: 100vw;
    height: 50vh;
  }

  .welcome-text{
    font-size: 34px;
  }

  .login-instruction{
    font-size: -10px;
  }

  .welcome-message{
    font-size: 14px;
  }
}